<div class="card">
  <% if prototype.image.attached? %>
    <%= link_to image_tag(prototype.image, style: 'max-width: 200px;'), prototype_path(prototype) %>
  <% end %>
  <h3><%= link_to prototype.title, prototype_path(prototype) %></h3>
  <p><%= prototype.catch_copy %></p>
  <p>投稿者: <%= link_to prototype.user.name, user_path(prototype.user), class: :card__user %></p>
</div> 
